version: "3.8"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: cheatsheet-backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend/cheatsheets:/app/cheatsheets
    environment:
      - FLASK_ENV=production
      - FLASK_RUN_HOST=0.0.0.0
      - CHEATSHEETS_FOLDER=/app/cheatsheets
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: cheatsheet-frontend
    ports:
      - "8080:80"
    networks:
      - app-network
    depends_on:
      - backend

networks:
  app-network:
