body {
  --background-color: #1e1e1e;
  --text-color: #cfcfcf;
  --primary-color: #bb86fc;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.navbar,
.btn-primary {
  background-color: var(--primary-color);
  color: #ffffff;
}
